 <div class='container' style="margin:100px">
      <div class="row">
<h2> Email Template ( <%= @emailtemplate.key %>) </h2>

<%= form_for @emailtemplate do |f| %>
  <div class="form-group">
    <label for="exampleInputEmail1">
        <%= f.label :key %>
    </label>
    
    <%= f.text_field :key , class:'form-control',placeholder:'key' %>
    
  </div>
  
  <div class="form-group">
    <label for="exampleInputEmail1">
        <%= f.label :subject %>
    </label>
    
    <%= f.text_field :subject , class:'form-control',placeholder:'subject' %>
  
  </div>
  
    <div class="form-group">
    <label for="exampleInputEmail1">
        <%= f.label :body %>
    </label>
    
    <%= f.text_area :body , class:'form-control',placeholder:'body' %>
  
  </div>
  
     <%= f.submit 'Update' , class: 'btn btn-default'%>
<% end %>