 <div class='container' style="margin:100px">
      <div class="row">
<h2> Email Template ( <%= @emailtemplate.key %> ) </h2>

  
  <div class="form-group">
    <label for="exampleInputEmail1">
        Subject:
    </label>
    
    <%= @emailtemplate.subject %>
  
  </div>
  
    <div class="form-group">
    <label for="exampleInputEmail1">
       Body:
    </label>
    
    <%= @emailtemplate.body %>
  
  </div>
  
  <div>
    <%= link_to 'edit' ,  edit_emailtemplate_path(@emailtemplate.id) %>
    <%= link_to 'destroy', emailtemplate_path(@emailtemplate.id) , method: :delete , data: {confirm: "are you sure you want to delete ?"} %>
    <%= link_to 'all' , emailtemplates_path %>
  </div>
  
