<div class='container' style="margin:100px">
<div style='margin-left:1000px!important'>
<%= link_to 'Add New + ' , new_physician_path %> 
<br\>
</div>

<% @allphysicians.each do |physician| %>
Physician name:
<%= physician.physician_name %> <br/>
Telephone number:
<%= physician.telephone_number %><br/>
Creation date: 
<%= physician.created_at %>

<br/>
<%= link_to 'edit' , edit_physician_path(physician.id)%>
<%= link_to 'destroy', physician_path(physician.id) , method: :delete , data: {confirm: "are you sure you want to delete this physician with all appointments ?"} %>
<hr/>
<%end%>