<div class='container' style="margin:100px">
      <div class="row">
<h2> Physician Record</h2>

Physician name: <%= @physician.physician_name %>
<br/>

Telephone number: <%= @physician.telephone_number %> <br/>
<br/>
 <h4>
   My Appointments
 </h4>
<div style="padding-top:20px">
<table width="60%">

<th>
    <tr>
        <td>
            Start date
        </td>
        <td>
            End date
        </td>
        <td>
            Patient name
        </td>    
    </tr>
</th>
<% @physician.appointments.each do |appointment| %>
    <tr>
        <td width="20%">
            <%= appointment.start_date %>       
        </td>
        <td  width="20%">
            <%= appointment.end_date %>
        </td>
        <td width="20%">
             <%= appointment.patient.patient_name %>
        </td>        
    </tr>
<% end %>
</table>
</div>
